.popup__button {
  margin: 48px 0 37px;
  padding: 0;
  text-align: center;
  width: 358px;
  height: 50px;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 2px;
  transition: all .6s;
  outline: none;
}

.popup__button:hover {
  opacity: .8;
}